name: CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v3
      with:
        submodules: true      
        submodules_recursive: true  
        fetch-depth: 0

    - name: Set up MPI
      run: sudo apt-get install -y mpich

    - name: Pre-configure tzdata and set DEBIAN_FRONTEND 
      run: | 
        echo 'tzdata tzdata/Areas select Etc' | sudo debconf-set-selections 
        echo 'tzdata tzdata/Zones/Etc select UTC' | sudo debconf-set-selections 
        export DEBIAN_FRONTEND=noninteractive
        sudo apt-get install -y tzdata

    - name: Install dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -y cmake g++ tzdata

    - name: Configure
      run: cmake .

    - name: Build
      run: cmake --build .

    - name: Run tests
      run: ctest --output-on-failure

  build-singularity: 
    runs-on: ubuntu-latest 
    needs: build-and-test 

    steps: 
    - name: Checkout repository 
      uses: actions/checkout@v3

    - name: Pre-configure tzdata and set DEBIAN_FRONTEND 
      run: | 
        echo 'tzdata tzdata/Areas select Etc' | sudo debconf-set-selections 
        echo 'tzdata tzdata/Zones/Etc select UTC' | sudo debconf-set-selections 
        export DEBIAN_FRONTEND=noninteractive
        sudo apt-get install -y tzdata

    - name: Install Singularity from source 
      run: | 
        sudo apt-get update 
        sudo apt-get install -y build-essential libssl-dev libuuid1 libgpgme11-dev squashfs-tools libseccomp-dev wget pkg-config git cryptsetup 
        git clone https://github.com/hpcng/singularity.git 
        cd singularity 
        git checkout v3.8.0 # Choose the desired version 
        ./mconfig && make -C builddir && sudo make -C builddir install 

    - name: Verify Singularity installation 
      run: singularity --version 

    - name: List Singularity commands 
      run: singularity --help 

    - name: Build Singularity image 
      run: sudo singularity build matrix_multiplication.sif Singularity.def 

    - name: Verify Singularity image 
      run: singularity inspect matrix_multiplication.sif 

    - name: Upload Singularity image 
      uses: actions/upload-artifact@v2 
      with: 
        name: matrix_multiplication.sif 
        path: matrix_multiplication.sif


  transfer-and-submit-job:
    runs-on: ubuntu-latest
    needs: build-singularity

    steps:
    - name: Checkout repository
      uses: actions/checkout@v3

    - name: Download Singularity image
      uses: actions/download-artifact@v2
      with:
        name: matrix_multiplication.sif
        path: .

    - name: Install SSH client
      run: sudo apt-get install -y openssh-client

    - name: Setup SSH
      uses: webfactory/ssh-agent@v0.5.3
      with:
        ssh-private-key: ${{ secret.SSH_PRIVATE_KEY }}

    - name: Transfer files to cluster
      run: |
        scp matrix_multiplication.sif ${{ secrets.CLUSTER_USERNAME }}@${{ secrets.CLUSTER_HOST }}:/path/to/remote/directory/
        scp job.sh ${{ secrets.CLUSTER_USERNAME }}@${{ secrets.CLUSTER_HOST }}:/path/to/remote/directory/

    - name: Submit job to SLURM
      run: |
        ssh ${{ secrets.CLUSTER_USERNAME }}@${{ secrets.CLUSTER_HOST }} "cd /g100/home/usertrain/a08trb52 && sbatch job.sh"
